{% load static %}
{% load crispy_forms_tags %}
{% load humanize %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="title" content="project">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="language" content="English">
    <meta name="author" content="Team 5">

    <title>{{title}}</title>


    <!-- bootstrap file -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- bootstrap file-->

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


    <!-- main css -->
    <link rel="stylesheet" type="text/css" href="{% static "index.css" %}" />


    <!-- message here -->

    {% if messages %}
        {% for message in messages %}

            <script>
                alert("{{ message }}");
            </script>

        {% endfor %}
    {% endif %}

    <!--_______________________________________________-->

</head>

<body class="container-fluid">
<header class="row">

    <!-- navbar-->
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button class="navbar-toggle" data-toggle="collapse" data-target="#mainNavBar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" class="styleheader" href="{% url "index" %}">CryptoDashboard</a>
            </div>
            <div class="collapse navbar-collapse" id="mainNavBar">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="{% url "index" %}">Home</a></li>

                    {% if user.is_authenticated %}
                        <li><a href=""><span class="glyphicon glyphicon-user"></span> &nbsp; {{user.username}}</a></li>
                        <li><a href="{% url "logout" %}"><span class="glyphicon glyphicon-log-out"></span> &nbsp; Logout</a></li>
                    {% else %}
                        <li><a href="{% url "register" %}"><span class="glyphicon glyphicon-user"></span> &nbsp; Sign up</a></li>
                        <li><a href="{% url "login" %}"><span class="glyphicon glyphicon-log-in"></span> &nbsp; Log in</a></li>
                    {% endif %}

                </ul>
            </div>
        </div>
    </nav>
</header>
<br/>
<br>
<br>
<div class="row">
    {% block start %}
        {% if user.is_authenticated %}
                <div style="margin: 40px; padding: 5px">
                    <div class="row">
                    <div class="col-sm-4">
                        <div class="card">
                          <div class="card-header">
                            <b style="font-size: 20px">Trending</b>
                          </div>
                          <ul class="list-group list-group-flush">
                           {% for i in trends.coins|slice:":3" %}
                                        <li class="list-group-item">
                                            <img class="rounded float-left" style="width: 7%; height: 7%; font-size: 16px" src="{{ i.item.small }}">
                                            <b>{{i.item.name}}</b>&nbsp;&nbsp;<span class="text-muted">{{i.item.symbol}}</span>
                                            &nbsp;&nbsp;&nbsp;&nbsp;btc price: <b class="ml-3 text-primary">{{ i.item.price_btc | floatformat:7 | intcomma }}</b>
                                        </li>
                           {% endfor %}
                          </ul>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="card">
                          <div class="card-header">
                            <b style="font-size: 20px">Global</b>
                          </div>
                          <ul class="list-group list-group-flush" style="font-size: 20px;">
                                        <li class="list-group-item">
                                            <b>Active Cryptocurrencies: </b>{{ get_global_data.data.active_cryptocurrencies }}
                                        </li>
                                        <li class="list-group-item">
                                            <b>Total Market Cap: </b>{{ get_global_data.data.total_market_cap.usd | floatformat:2 | intcomma }}
                                        </li>
                                        <li class="list-group-item">
                                            <b>Total Volume: </b>{{ get_global_data.data.total_volume.usd | floatformat:2 | intcomma }}
                                        </li>
                          </ul>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="card">
                          <div class="card-header">
                            <b style="font-size: 20px">Top Category by Market Cap</b>
                          </div>
                          <ul class="list-group list-group-flush">
                           {% for i in get_top_category|slice:":3" %}
                                        <li class="list-group-item">
                                            <b>{{i.name}}</b>&nbsp;&nbsp;<span>Volume 24h:</span><span class="text-muted">{{i.volume_24h | floatformat:2 | intcomma}}</span>
                                            <div>
                                            <b>Top Coins:</b> {% for j in i.top_3_coins %}
                                                    <img class="rounded float-left" style="width: 7%; height: 7%; font-size: 12px" src="{{ j }}">
                                                {% endfor %}
                                            </div>
                                        </li>
                           {% endfor %}
                          </ul>
                        </div>
                    </div>
                </div>
                    <table class="table table-hover" id ="tableId"style="font-size: 20px; padding: 5px; background: white">
                        <thead>
                        <tr >
                            <th class="text-center">Name</th>
                            <th class="text-center">Price(USD)</th>
                            <th class="text-center">24h%</th>
                            <th class="text-center">7d%</th>
                            <th class="text-center">Market Cap(USD)</th>
                            <th class="text-center">Volume Change(24h)</th>
                            <th class="text-center">Circulating Supply</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for i in response %}
                            <tr onclick="window.location='details/{{ i.id }}'">

                                <td style="width:20%" >
                                    <img class="rounded float-left" style="width: 7%; height: 7%" src="{{ i.image.small }}">
                                    <b>{{ i.name }} </b>&nbsp{{i.symbol}}
                                </td>
                                <td class="text-center"><b>{{i.market_data.current_price.usd | floatformat:2 | intcomma }}</b></td>
                                <td class="text-center">
                                    {% if i.market_data.price_change_percentage_24h > 0 %}
                                    <b class="text-success glyphicon glyphicon-arrow-up">{{i.market_data.price_change_percentage_24h | floatformat:2}}%</b>
                                    {% else %}
                                    <b class="text-danger glyphicon glyphicon-arrow-down">{{ i.market_data.price_change_percentage_24h | floatformat:2 }}%</b>
                                    {% endif %}
                                </td>
                                <td class="text-center">
                                    {% if i.market_data.price_change_percentage_24h > 0 %}
                                        <b class="text-success glyphicon glyphicon-arrow-up">{{i.market_data.price_change_percentage_7d | floatformat:2}}%</b>
                                    {% else %}
                                        <b class="text-danger glyphicon glyphicon-arrow-down">{{ i.market_data.price_change_percentage_24h | floatformat:2 }}%</b>
                                    {% endif %}
                                </td>
                                <td class="text-center">{{ i.market_data.market_cap.usd | floatformat:2 | intcomma }}</td>
                                <td class="text-center">{{ i.market_data.total_volume.usd | floatformat:2 | intcomma}}</td>
                                <td class="text-center">{{ i.market_data.circulating_supply | floatformat:2| intcomma }}&nbsp <b class="text-muted">{{i.symbol}}</b></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>

        {% else %}
            <center><h1>log in, plz . . .</h1></center>
        {% endif %}
    {% endblock %}
</div>
</body>

</html>